.container.home
  h1 Welcome - you have faceplanted on faceplace, the place to party and make new friends!!
  img.home(src="http://www.thisismarvelous.com/postImages/Sandro-Giordano-falling-photos.jpg")
