.row{
	display: flex;
	width: 80%;
	wrap: auto;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}


img.everyone {
  min-width: 100px;
  max-width: 120px;
  min-height: 50px;
  padding: 5px;
}

img.person {
  max-height: 200px;

}
