doctype html
html(lang="en-US", ng-app="faceplace")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title faceplace
    link(rel="stylesheet", href="lib/build.css")
    link(rel="stylesheet", href="assets/main.css")
  body
    .container
      nav
        ul
          li
            a(href="/#/login") login
          li
            a(href="/#/") Home
          li
            a(href="/#/everyone") Faceplace
          li
            a(href="/#/404") 404

    .app(ng-view)

    script(src="lib/build.js")

    script(src="assets/main.module.js")
    script(src="assets/main.run.js")
    script(src="assets/main.constants.js")
    script(src="assets/main.filters.js")

    script(src="assets/static/static.config.js")

    script(src="assets/auth/auth.config.js")
    script(src="assets/auth/auth.controller.js")
    script(src="assets/auth/auth.factory.js")

    script(src="assets/profiles/everyone.config.js")
    script(src="assets/profiles/everyone.controller.js")
    script(src="assets/profiles/person.controller.js")
    script(src="assets/profiles/person.factory.js")
    script(src="assets/profiles/user.config.js")
    script(src="assets/profiles/user_setup.controller.js")
